
:root{
    --background-color:#2E2F42;
    --color-button-white:#FFFFFF;
    --color-nb:#4D5AE5;
    --color-b:#434455;
    --color-ocean:#404BBF;
    --background-color-sec: #F4F4FD;
    --border-color:#e7e9fc;

}

body{
    font-family: "Roboto", sans-serif;
    color: var(--color-b);
    background-color: var(--color-button-white);
    line-height: 2;
}
/* p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
} */



.list{
    list-style: none;
}    

.link{
text-decoration: none;    
}


.header-link{
    
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--background-color);
}

.header-link-second:hover{
    color:var(--color-ocean);
}
.header-link-second:focus{
    color: var(--color-ocean);
}
.header-link:hover{
   color: var(--color-ocean);
}
.header-link:focus{
    color: var(--color-ocean);
}
.header-logo{
    
 font-family: 'Raleway', sans-serif; 
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--color-nb);
}

.header-logo-second{
color:var(--background-color);
}
.header-link-second{
color: #434455;
}
.contacta{
    font-style: normal;
}



.advice{
    border-color: var(--background-color);
}
.benefit{
   
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em; 
    color: #ffffff;
}
.btn{
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: #4D5AE5;
color: #FFFFFF;
}

.btn:hover{
background-color: var(--color-ocean);
}
.btn:focus{
 background-color: var(--color-ocean); 
}

.hero-title{
 font-family: 'Roboto';
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--background-color);
}

 .hero-title-third{
margin-bottom: 72px;
font-family: 'Roboto';     
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize ;
color:var(--background-color);    
    }

.hero-p{
 font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}



.photo-title{
    
    font-family: 'Roboto';
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize ;
    color:var(--background-color);  
}



.our-team{
     background-color:#F4F4FD;   
   
    }

.title-team{
     font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--background-color);

    
}

   
   .icon{
        background-color: var(--color-button-white);
        
   }
    .ot-p{
        font-family: 'Roboto';
       font-style: normal;
       font-weight: 400;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: #434455;
       margin-bottom: 8px;
       }
       


    .footer{
     background-color: var(--background-color);
      }

 

.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--color-nb);
    letter-spacing: 0.03em;
    text-transform: uppercase;
   
}
.footer-logo-second{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--background-color-sec);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-p{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--background-color-sec);
    letter-spacing: 0.02em;
}

/* ПОРТФОЛІО */




  
    .portfolio-btn:hover{
       color: var(--color-button-white); 
       background-color: var(--color-ocean);
       
    }
    .portfolio-btn:focus{
      
       color: var(--color-button-white);
       background-color: var(--color-ocean);
    }
    .portfolio-btn{
 font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color:var(--color-nb);
background-color: var(--background-color-sec);
cursor: pointer;
  
    } 
   
   
    .portfolio-title{
margin-bottom: 8px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
    }
    .portfolio-p{
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
    }
  
 
  .move-text{
   
 font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
background: #4D5AE5;
}




