
:root{
    --background-color:#2E2F42;
    --color-button-white:#FFFFFF;
    --color-nb:#4D5AE5;
    --color-b:#434455;
    --color-ocean:#404BBF;
    --background-color-sec: #F4F4FD;
    --border-color:#e7e9fc;

}

body{
    font-family: "Roboto", sans-serif;
    color: var(--color-b);
    background-color: var(--color-button-white);
    line-height: 2;
}




.list{
list-style: none;
}    

.link{
text-decoration: none;    
}



/* __________________________________________HEADER____________________ */
.header-logo{
    font-family:"Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-nb);
}
.header-logo-second{
    color: var(--background-color);
}    
.header-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-color);
}
.header-link:hover{
    color: var(--color-ocean);
}
.header-link:focus{
    color: var(--color-ocean);
}
.contacts{
    font-style: normal;
}
.header-link-second{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-b);
}
.header-link-second:hover{
    color: var(--color-ocean);
}
.header-link-second:focus{
    color: var(--color-ocean);
}
/* ----------------------SECTION 1----------------------------------- */
.advice{ background-color: var(--background-color);
}

.benefit{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--color-button-white);

}
.btn{
    background-color: var(--color-nb);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:var(--color-button-white);
    cursor: pointer;
}
.btn:hover{
    background-color:var(--color-ocean);
}
.btn:focus{
    background-color:var(--color-ocean);
}

/* ---------------------------------SECTION 2----------------------------- */

.hero-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--background-color);
}
.hero-p{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-b);
}

/* --------------------------------------SECTION 3------------------------------------- */
.title-about{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--background-color);
}


/* ---------------------------------------SECTION 4------------------------------------------- */
.our-team {
    background-color:var(--background-color-sec);
}
.icon{
    background-color: var(--color-button-white)
}
.title-team{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--background-color);
    }
    .ot-p{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-b);
    }
/* ------------------------------------------------------------FOOTER---------------------------------------- */
    .footer{
     background-color: var(--background-color);
      }

 

.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--color-nb);
    letter-spacing: 0.03em;
    text-transform: uppercase;
   
}
.footer-logo-second{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--background-color-sec);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-p{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--background-color-sec);
    letter-spacing: 0.02em;
}

/* ПОРТФОЛІО */




  
    .portfolio-btn:hover{
       color: var(--color-button-white); 
       background-color: var(--color-ocean);
       
    }
    .portfolio-btn:focus{
      
       color: var(--color-button-white);
       background-color: var(--color-ocean);
    }
    .portfolio-btn{
 font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color:var(--color-nb);
background-color: var(--background-color-sec);
cursor: pointer;
  
    } 
   
   
 .portfolio-title{
font-family: 'Roboto';
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--background-color);
    }
    .portfolio-p{
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--color-b);
    }
  
 
  .move-text{
   
 font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
background: #4D5AE5;
}




